PORT=3000
API_BEARER_TOKEN=

# mariadb | sqlite (sqlite só para testes locais)
DB_DRIVER=mariadb
DB_HOST=76.13.66.204
DB_PORT=5566
DB_USER=mariadb
DB_PASSWORD=
DB_NAME=default
DB_SYNCHRONIZE=true

# Usado apenas quando DB_DRIVER=sqlite
DATABASE_PATH=data/livetracker.sqlite
